<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinFormsGUI.Settings.Core" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WinFormsGUI.Settings.GUI" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WinFormsGUI.Settings.Main" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WinFormsGUI.Settings.main" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinFormsGUI.Settings.Param" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="WinFormsGUI.Settings.main" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WinFormsGUI.Settings.Core>
            <setting name="CtrlSendInput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowCapture" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeepAwake" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeepScreenOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AwardMatch" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoUseCamFp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoDailyCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DoDailyShot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseHook" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChaPauseAndAskForManual" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoUseDrink" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayMatchType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlayLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlayLevelR" serializeAs="String">
                <value>1</value>
            </setting>
        </WinFormsGUI.Settings.Core>
        <WinFormsGUI.Settings.GUI>
            <setting name="HideToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseNotify" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisableClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Transparent" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WndLastPosition" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="ListLastSelectedSettings" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ListItems" serializeAs="String">
                <value>1, 2, 4</value>
            </setting>
            <setting name="ListItemCheckList" serializeAs="String">
                <value />
            </setting>
        </WinFormsGUI.Settings.GUI>
        <WinFormsGUI.Settings.Main>
            <setting name="Game_ForNew" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ctrl_ForMouse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowCV" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideToIcon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseNotify" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreventSleep" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeepDisplay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Transparant" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Cha_Add" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastPosition" serializeAs="String">
                <value>-1, -1</value>
            </setting>
        </WinFormsGUI.Settings.Main>
        <WinFormsGUI.Settings.main>
            <setting name="Game_ForNew" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ctrl_ForMouse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowCV" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideToIcon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseNotify" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreventSleep" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeepDisplay" serializeAs="String">
                <value>False</value>
            </setting>
        </WinFormsGUI.Settings.main>
    </userSettings>
    <applicationSettings>
        <WinFormsGUI.Settings.Param>
            <setting name="NotifyTime" serializeAs="String">
                <value>5000</value>
            </setting>
        </WinFormsGUI.Settings.Param>
        <WinFormsGUI.Settings.main>
            <setting name="NotifyTime" serializeAs="String">
                <value>5000</value>
            </setting>
        </WinFormsGUI.Settings.main>
    </applicationSettings>
</configuration>